# ===================
# Backend (Node.js)
# ===================
/backend/node_modules/
/backend/.env
/backend/.cache/
/backend/logs/

# ===================
# Frontend (Flutter)
# ===================
/frontend/.dart_tool/
/frontend/.idea/
/frontend/build/
/frontend/.packages
/frontend/.flutter-plugins
/frontend/.flutter-plugins-dependencies
/frontend/.env
